@import url(https://db.onlinewebfonts.com/c/863c406a55d3a786081b39c40d50f77c?family=Marker+Aid+W00+Regular);

/*GENERAL*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: bold;    
}
    

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: #9e8f8f;

}

.intro {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 30px;
}

.tools h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
}

.tools i {
    display: inline-block;
    margin: 0 auto;
    color: #000000;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px;

}

.tools i span {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

.backganimate {
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 65px 0 80px 0;

}

section .heading {
    text-align: center;
    padding-bottom: 40px;

}

section .heading h2 {
    text-transform: uppercase;

}

.divider {
    width: 100px;
    height: 2px;
    background-color: #000000;
    margin: 0 auto 20px;

}

ul {
    list-style: none;


}

/*NAVIGATION*/
.navbar {

    background-color: #000000;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid white;
}

.navbar-nav {
    margin: 0 auto;
    text-align: center;
}

.nav-link {

    color: white !important;
    margin: 0 6px;
    border-radius: 20px;

}

.nav-link:hover {

    background-color: rgb(255, 255, 255);
    color: rgb(17, 17, 17) !important;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}


/*ABOUT*/

#about {
    background-color: #000000;

}

.profile-picture {
    text-align: center;
    margin: 0px auto 30px;

}

#about .heading h1,
#about .heading h3 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Marker Aid W00 Regular';
    font-style: normal;
    font-weight: 400;

}

.button1 {
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 18px 50px;
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.3s ease-in 0s;

}

.button1:hover {
    background-color: white;
    color: #000000;

}

/* SKILLS*/

#skills .heading h2 {
    color: #000000;

}

#skills .progress {
    height: 45px;
    margin: 30px;

}

#skills .progress:last-child {
    margin-bottom: 0px;

}

#skills .progress-bar {
    background-color: #000000;

}

/*EXPERIENCE*/

.experience {

    background-color: #000000;
    color: #333;
    font-weight: normal;

}

.divider.white {

    background-color: white;

}

.timeline {

    padding: 30px 10px;
    position: relative;

}

.timeline::before {

    content: " ";
    top: 0;
    bottom: 0;
    position: absolute;
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;

}

.timeline>li {

    margin-bottom: 20px;
    position: relative;

}

.timeline>li:after {

    clear: both;

}

.timeline>li:before,
.timeline>li:after {

    content: " ";
    display: table;
}

.timeline li .timeline-badge {

    color: #b79e79;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: white;
    border-radius: 50%;

}

.timeline-panel-container {
    width: 50%;
    float: left;

}

.timeline-panel-container-inverted {

    width: 50%;
    float: right;
}

.timeline-panel {

    width: 90%;
    float: 90%;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: #fff;

}

.timeline-panel-container-inverted .timeline-panel {

    float: left;
    margin-left: 40px;

}

.timeline-heading h4 {

    color: #b79e79
}

.timeline-heading a {
    color: #b79e79;
}

.experience h2 {

    color: white;

}

.timeline-body a {
    color: #b79e79;
}

/*Education*/

.education h2 {

    color: #000000;

}

.education-block {

    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: rgb(250, 250, 250);
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;

}

.education-block h5 {

    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}

.education-block span {

    font-size: 35px;
}

.education-block h4 {

    color: #b79e79;
}

.education p {

    font-weight: lighter;
}

/*Projects*/
#projets {
    background-color: #000000;
}

#projets .heading h2 {
    color: white;
}
#projets .divider {
    background-color: white;
}

/*ANIMATION*/
#animation {
    background-color: #fff;
}

.animate {
    background-position: cover;
    border: none;
    opacity: 95%;
    margin-bottom: -80px;


}

#animation h2 {
    color: #000000;
}

/*CURSOR*/

/*FOOTER*/

footer {

    background-color: #000000;
    padding: 20px 0 40px;
    text-align: center;
}

footer h5 {

    color: #e9ecef;
    text-transform: uppercase;
    font-weight: normal;

}

footer span {

    color: white;
    font-size: 25px;

}

footer span:hover {

    color: #e9ecef;
    font-size: 27px;
    text-align: center;

}